.intro {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__item {
  padding: 5px 7px;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}
