.piece {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  transition: 300ms;
  cursor: pointer;
}

.piece--demo {
  position: relative;
  display: inline-block;
}

.piece--white {
  background: #FFF;
  box-shadow: 1px 1px 0px #AAA,
              2px 2px 0px #AAA,
              3px 3px 0px #AAA,
              4px 4px 0px #AAA,
              5px 5px 0px #AAA;
}

.piece--brown {
  background: #a52a2a;
  box-shadow: 1px 1px 0px #730707,
              2px 2px 0px #730707,
              3px 3px 0px #730707,
              4px 4px 0px #730707,
              5px 5px 0px #730707;
}

.piece--wall {
  height: 20px;
  margin: 0 0 5px 0;
}

.piece--cap {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin: 0 0 6px 4px;
}

.piece.selected {
  transform: rotate(10deg);
}