.spot {
  width: 100px;
  height: 100px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spot__empty {
  width: 20px;
  height: 20px;
  border: solid 1px #FFF;
}

.piece {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  transition: 300ms;
}

.piece--white {
  background: #FFF;
  box-shadow: 1px 1px 0px #AAA,
              2px 2px 0px #AAA,
              3px 3px 0px #AAA,
              4px 4px 0px #AAA,
              5px 5px 0px #AAA,
              1px 1px 0px #EEE,
              2px 2px 0px #EEE,
              3px 3px 0px #EEE,
              4px 4px 0px #EEE,
              5px 5px 0px #EEE;
}

.piece--brown {
  background: #a52a2a;
  box-shadow: 1px 1px 0px #730707,
              2px 2px 0px #730707,
              3px 3px 0px #730707,
              4px 4px 0px #730707,
              5px 5px 0px #730707,
              1px 1px 0px #931919,
              2px 2px 0px #931919,
              3px 3px 0px #931919,
              4px 4px 0px #931919,
              5px 5px 0px #931919;
}

.piece--wall {
  height: 20px;
}

.piece--cap {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin: 0 0 10px 5px;
}

.piece.selected {
  transform: rotate(10deg);
}