.spot {
  width: 100px;
  height: 100px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spot__empty {
  width: 20px;
  height: 20px;
  border: solid 1px #FFF;
}

